html,body{  
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .text {
    text-align: center;
    color: black;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 145%;
  }

  .adaptwidth {
    width: 90%;
  }

  .smalllogofont {
      font-family: 'Oswald', sans-serif;
      font-size: 145%;
  }

  .logofont {
      font-family: 'Oswald', sans-serif;
      font-size: 217%;
  }

  .whitetext {
    text-align: center;
    color: white;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 110%;
  }
}

@media only screen and (min-width: 600px) {
  .text {
    text-align: center;
    color: black;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 150%;
  }


  .adaptwidth {
    width: 50%;
  }

  html,body {
    height:100%;  
  }

  .smalllogofont {
      font-family: 'Oswald', sans-serif;
      font-size: 200%;
  }

  .yearfont {
      font-family: 'Oswald', sans-serif;
      font-size: 150%;
  }

  .logofont {
      font-family: 'Oswald', sans-serif;
      font-size: 300%;
  }


  .whitetext {
    text-align: center;
    color: white;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 150%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



a {
    text-decoration: underline;
    color: black;
}

.basewhite {
  color: white;
}

.basewhite a {
  color: white;
}


.whitetext a {
    color: white;
}