html,body{  
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .text {
    text-align: center;
    color: black;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 145%;
  }

  .adaptwidth {
    width: 90%;
  }

  .smalllogofont {
      font-family: 'Oswald', sans-serif;
      font-size: 145%;
  }

  .logofont {
      font-family: 'Oswald', sans-serif;
      font-size: 217%;
  }

  .whitetext {
    text-align: center;
    color: white;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 110%;
  }
}

@media only screen and (min-width: 600px) {
  .text {
    text-align: center;
    color: black;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 150%;
  }


  .adaptwidth {
    width: 50%;
  }

  html,body {
    height:100%;  
  }

  .smalllogofont {
      font-family: 'Oswald', sans-serif;
      font-size: 200%;
  }

  .logofont {
      font-family: 'Oswald', sans-serif;
      font-size: 300%;
  }


  .whitetext {
    text-align: center;
    color: white;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-size: 150%;
  }
}





a {
    text-decoration: underline;
    color: black;
}



.whitetext a {
    color: white;
}